<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}"/>
</head>
<section id="musicAlbum">
    <div class="container">
        <div th:insert="fragments/header :: header"></div>

        <div class="addeditentity">
            <p>Add new song:</p>
            <form th:action="@{/SongAddServlet}" method="post">
                <label for="songName">Song Name:</label><br>
                <input type="text" id="songName" name="songName" /><br>
                <label for="songDurationMinutes">Song Duration Minutes:</label><br>
                <input type="text" id="songDurationMinutes" name="songDurationMinutes" /><br>
                <label for="songDurationSeconds">Song Duration Seconds:</label><br>
                <input type="text" id="songDurationSeconds" name="songDurationSeconds" /><br>
                <input type="submit" value="Add"/>
            </form>
        </div>

        <footer>
            <h3>Music Album &copy; 2023-2024</h3>
        </footer>
    </div>
</section>
</body>
</html>