
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    background-size: cover;
}


header {
    background-color: rgba(245, 233, 10, 0.98);
    color: rgba(21, 21, 21, 0.87);
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header ul li a {
    color: rgba(21, 21, 21, 0.87);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

header ul li a:hover {
    text-decoration: underline;
}

#musicAlbum h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 350;
    text-shadow: 2px 2px 4px rgb(69, 123, 157);
    margin: 0;
}

.header-form {
    position: absolute;
    top: 10px;
    right: 40px;
    margin: 0;
}

.header-form button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.header-form button:hover {
    background-color: #45a049;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table caption {
    font-size: 40px;
    margin-bottom: 15px;
}

table th, table td {
    text-align: left;
    padding: 10px;
}

table th {
    background-color: rgba(245, 233, 10, 0.98);
    font-family: 'Arial', sans-serif;
    color: rgba(21, 21, 21, 0.87);
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}







