<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link type="text/css" media="all" href="css/home.css" rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
<header th:fragment="header">
    <h1>Music Albums</h1>
    <ul>
        <li><a th:href="@{/HomeServlet}">Home</a></li>
        <li><a th:href="@{/AlbumsServlet}">Albums</a></li>
        <li><a th:href="@{/GenresServlet}">Genres</a></li>
        <li><a th:href="@{/ArtistsServlet}">Artists</a></li>
        <li><a th:href="@{/GroupsServlet}">Groups</a></li>
        <li><a th:href="@{/SongsServlet}">Songs</a></li>
    </ul>
    <form class="header-form" role="form" action="LoginServlet" method="post">
        <input type="hidden" name="action" value="logout"/>
        <button type="submit" class="logout-link">Logout</button>
    </form>
</header>
</body>
</html>
